<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Genre</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <style>
        span.field-validation-error {
            color: red;
        }
    </style>
</head>
<body>
    <div style="width:90%; margin:0 auto" class="tablecontainer">
        <a class="popup btn btn-success" href="/home/SaveGenre/0" style="margin-bottom:20px; margin-top:20px;"><i class="fa fa-plus "></i> Add New Genre</a>
            <table id="myDatatable">
                <thead>
                    <tr>
                        <th>Genre Name</th>
                        <th>Description</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(document).ready(function () {
            var oTable = $('#myDatatable').DataTable({
                "ajax": {
                    "url": '/api/genre/datatable',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "GenreName", "autoWidth": true },
                    { "data": "Description", "autoWidth": true },
                    {
                        "data": "GenreId", "width": "50px", "render": function (data) {
                            return '<a class="popup btn btn-default btn-sm" href="/home/SaveGenre/' + data + '"><i class="	fa fa-edit"></i> Edit</a>';
                        }
                    },
                    {
                        "data": "GenreId", "width": "50px", "render": function (data) {
                            return '<a class="popup btn btn-danger btn-sm" href="/home/DeleteGenre/' + data + '"><i class="fa fa-trash"></i> Delete</a>';
                        }
                    }
                ]
            })
            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                });

                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                    .html($pageContent)
                    .dialog({
                        draggable: false,
                        autoOpen: false,
                        resizable: false,
                        model: true,
                        title: 'Popup Dialog',
                        height: 550,
                        width: 600,
                        close: function () {
                            $dialog.dialog('destroy').remove();
                        }
                    })
                let method;
                if (pageUrl.includes("SaveGenre/0")) {
                    method = "POST";
                }
                else {
                    method = pageUrl.includes("SaveGenre") ? "PUT" : "DELETE";
                }
                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: method,
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            $dialog.dialog('close');
                            oTable.ajax.reload();
                        }
                    })

                    e.preventDefault();
                })
                $dialog.dialog('open');
            }
        })
    </script>
</body>
</html>
